* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/satinweave.png");
}

#wrapper {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -webkit-column-width: 100%;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -moz-column-width: 100%;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
    column-width: 100%;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    width: 100%;
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
    text-align: justify;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 481px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #columns.resume {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .navbar .nav li {
        font-size: small;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    #columns.resume {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .navbar .nav li {
        font-size: x-small;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    #columns.resume {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}

.navbar .navbar-inner {
    padding: 0;
    margin-top: 3em;
}

.navbar .nav {
    margin: 0;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.action-bar {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#columns.contact {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.github-fork-ribbon a {
    text-decoration: none !important;;
}

.github-fork-ribbon a:hover {
    color: #FFFFFF;
}
